<ng-container *veeLet="fab$ | async as fab">
<ng-container *veeLet="clientRole$ | async as clientRole">

<ng-container *ngIf="shouldDisplayFab(fab, clientRole)">

    <button *ngIf="fab.routerLink == null; else elseAnchorFab"  
        mat-fab 
        matTooltipPosition="left"
        [matTooltipDisabled]="fab.tooltip == null"
        [matTooltip]="fab.tooltip"
        (click)="dispatchClickAction()"
        color="accent"
    >
        <mat-icon>{{fab.fabIcon!}}</mat-icon>
    </button>
    <ng-template #elseAnchorFab>
        <a mat-fab
            matTooltipPosition="left"
            [routerLink]="fab.routerLink" 
            [matTooltipDisabled]="fab.tooltip == null"
            [matTooltip]="fab.tooltip"
            (click)="deleteFab()"
            color="accent" 
        > 
            <mat-icon>{{fab.fabIcon!}}</mat-icon>
        </a>
    </ng-template>

</ng-container>


</ng-container>
</ng-container>