.local {
    &-root {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
        gap: 30px;
    }
    &-picture {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;;
        overflow: hidden;
        border-radius: 8px;
        height: 194.28px;

        &:hover {
            cursor: pointer;
        }

        &__img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    
}