:host {
    height: 100%;
    width: 100%;
}
.local {
    $progress-bar-height: 4px;
    &-progress-bar {
        position: fixed;
        top: 64px;  // height of top toolbar
        // TODO: find a better solution
        // mat-toolbar changes it height:
        @media (max-width: 599px) { 
            top: 56px;
        }
        z-index: 2; // TODO: workaround being overlapped by main content
        height: $progress-bar-height;
    }
    &-main {
        margin-top: $progress-bar-height + 5px; // make enough space for progress-bar
        padding: 0 10%;
        flex-grow: 1;
    }
    &-dashboard {
        display: block;
        width: 100%;
    }
    &-body {
        height: 100%;
    }
    &-content-root {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    &-footer {
       flex-shrink: 0;
    }
    &-fab {
        position: fixed;
        bottom: 45px;
        right:  45px;
        z-index: 2;
    }
}
