<ng-container *veeLet="isAwaitingResponses$ | async as isAwaitingResponses">


<td-layout>

    <td-navigation-drawer sidenavTitle="Times are Changing">
        <app-nav-drawer></app-nav-drawer>
    </td-navigation-drawer>

    <td-layout-nav>
        
        <button mat-icon-button td-menu-button tdLayoutToggle>
            <mat-icon>menu</mat-icon>
        </button>
        <app-dashboard td-toolbar-content class="local-dashboard"></app-dashboard>
        <div class="local-body">
            <!-- 
                TODO: attach progress bar to toolbar so that it doesn't get
                left when scrolling the page
            -->
            <mat-progress-bar
                [mode]="isAwaitingResponses ? 'indeterminate' : 'determinate'"
                color="primary"
                value="100"
                class="local-progress-bar"
            ></mat-progress-bar>
            <div class="local-content-root">
                <app-fab class="local-fab"></app-fab>
                <main class="local-main">
                    <router-outlet></router-outlet>
                </main>
                <footer class="local-footer">
                    <app-footer></app-footer>
                </footer>
            </div>
        </div>
    </td-layout-nav>

</td-layout>


</ng-container>