:host {
    height: 100%;
    width: 100%;
}
.local-content-root {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.local-main {
    padding: 0 10%;
    flex-grow: 1;
}
.local-footer {
    flex-shrink: 0;
}