@import "theme";

// override bootstrap styles
button:focus {
    outline: none;
}
a:hover {
    color: inherit;
}
// end override

[ng-reflect-router-link] {
    cursor: pointer;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

// this class is set in `SnackBarService` for all snackbars
.snack-bar {
    &-info {
        background-color: map-get($theme, snack-bar-info);
    }
    &-success {
        background-color: map-get($theme, snack-bar-success);
    }
    &-warning {
        background-color: map-get($theme, snack-bar-warning);
    }
    &-error {
        background-color: map-get($theme, snack-bar-error);
    }
}

// fix td-text-editor for dark theming:
td-text-editor {
    color: black;
    background: white;
    display: block;
    border-radius: 4px;
}