@import "theme";

// override bootstrap styles
// button:focus {
//     outline: none;
// }
// a:hover {
//     color: inherit;
// }
// end override

[ng-reflect-router-link] {
    cursor: pointer;
}
html {
    font-size: 10px; // for better itercation with `rem` units
}
body {
    font-size: 1.6rem;
}
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
pre {
    word-wrap: normal;
}
// this class is set in `SnackBarService` for all snackbars
.snack-bar {
    &-info {
        background-color: mat-color(map-get($theme, info));
    }
    &-success {
        background-color: mat-color(map-get($theme, success));
    }
    &-warning {
        background-color: mat-color(map-get($theme, soft-warn));
    }
    &-error {
        background-color: mat-color(map-get($theme, warn));
    }
}

// fix td-text-editor for dark theming:
td-text-editor {
    color: black;
    background: white;
    display: block;
    border-radius: 4px;
}