$project-modules-path: '/home/veetaha/my/projects/times-are-changing-website/frontend/node_modules';

@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';
@import '~@covalent/markdown/markdown-theme';
@import '~@covalent/highlight/highlight-theme';

// path-error workaround
$fa-font-path: '#{$project-modules-path}/fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

// path-error workaround
$roboto-font-path: '#{$project-modules-path}/angular-bootstrap-md/font/roboto/';
$image-path: '#{$project-modules-path}/angular-bootstrap-md/img/';
@import '~angular-bootstrap-md/scss/bootstrap/bootstrap.scss';
@import '~angular-bootstrap-md/scss/mdb-free.scss';




$typography: mat-typography-config(
    $font-family: 'Roboto, monospace',
    $headline: mat-typography-level(32px, 48px, 700),
    $body-1: mat-typography-level(16px, 24px, 500)
);

@include mat-core($typography); // $typography is an **optional** argument for the mat-core

$primary: mat-palette($mat-blue);
$accent:  mat-palette($mat-orange);
$warn:    mat-palette($mat-red);


// Create the theme object (a Sass map containing all of the palettes).
$theme: map-merge(mat-light-theme($primary, $accent, $warn), (
    snack-bar-info:    mat-color($mat-blue, 700), // second argument is required!
    snack-bar-success: mat-color($mat-green, 500),
    snack-bar-warning: mat-color($mat-yellow, 500),
    snack-bar-error:   mat-color($mat-red, 500),
    footer-bgnd:       mat-color($primary),
    muted-text:        mat-color($mat-grey, 700)
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);
@include covalent-theme($theme, $typography); // $typography is an **optional** argument for the covalent-theme
@include covalent-markdown-theme($theme);
@include covalent-layout();
@include covalent-highlight-theme();