@import '~@angular/material/theming';

$typography: mat-typography-config(
    $font-family: 'Roboto, monospace',
    $headline: mat-typography-level(32px, 48px, 700),
    $body-1: mat-typography-level(16px, 24px, 500)
);

$primary: mat-palette($mat-orange);
$accent:  mat-palette($mat-blue);
$warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$theme: map-merge(mat-dark-theme($primary, $accent, $warn), (
    snack-bar-info:    mat-color($mat-blue, 700), // second argument is required!
    snack-bar-success: mat-color($mat-green, 500),
    snack-bar-warning: mat-color($mat-yellow, 500),
    snack-bar-error:   mat-color($mat-red, 500),
    footer-bgnd:       mat-color($primary),
    muted-text:        mat-color($mat-grey, 700)
));