<app-pagination [pageFetcher]="usersPageFetcher">
    <td-data-table *appPageBody="let users" 
        [data]="users"
        [columns]="tableColumnsConfig"
    >
    <ng-container *tdDataTableTemplate="'role'; value as role">
        <span *ngIf="role === 'Admin'; else elseNotAdmin"
            class="local-user-role"
        > ADMIN
        </span>
        <ng-template #elseNotAdmin>
            <mat-icon>person</mat-icon>
        </ng-template>

    </ng-container>
    <div *tdDataTableTemplate="'creationDate'; value as creationDate" layout="row" flex>
        <span flex>
        {{ creationDate | timeAgo }} 
        </span>
        <small flex class="local-user-creation-date">
        <time [dateTime]="creationDate">
            ({{creationDate | date: 'd MMM y HH:mm'}})
        </time>
        </small>
    </div>
    </td-data-table>
</app-pagination>