.local {
    &-root {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
        gap: 30px;
    }
    &-video-thumbnail {
        padding: 0;
        overflow: hidden;
        border-radius: 8px;
        &__img {
            width: 100%;
        }
    }
    
}