<div class="local-root">
    <button *ngFor="let ytVideoId of ytVideoIds; index as i" 
        mat-button
        (click)="openLightbox(i)"
        type="button"
        class="local-video-thumbnail"
    >
        <img 
            src="https://img.youtube.com/vi/{{ytVideoId}}/0.jpg" 
            class="local-video-thumbnail__img"
        />
    </button>
</div>
<!-- <mat-carousel [interval]="0" animation="slide">
    <mat-carousel-slide *ngFor="let ytVideoSrc of ytVideoSrcs">
        <div class="local-carousel-item">
            <iframe 
                [src]="ytVideoSrc" 
                class="local-carousel-item__payload" 
                frameborder="0" 
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen
            ></iframe>
        </div>
    </mat-carousel-slide>
</mat-carousel> -->