.local {
    &-root {
        display:        flex;
        flex-direction: column;
    }
    // &-search {
    //     // width: 20%;
    // }
    &-loading {
        display: block;
        margin-left:  auto;
        margin-right: auto;
    }
    &-filters {
        background: inherit;
        padding-top: 10px;
    }
}
