<div class="local-root">

<ng-container *ngIf="page; else elseDataNotLoaded">
    <app-pagination-search-input *ngIf="!noSearch" class="local-search"
        (search)="fetchPage({ offset: 0, search: $event })"
        [placeholder]="searchInputPlaceholder"
    ></app-pagination-search-input>
    
    <ng-container *ngIf="filtersTemplateRef != null">
        <mat-slide-toggle (change)="pageFetcherOpts.hasFiltering = $event.checked">
            Advanced search
        </mat-slide-toggle>
        <mat-expansion-panel 
            [expanded]="pageFetcherOpts.hasFiltering"
            class="local-filters"
        >
            <ng-container *ngTemplateOutlet="filtersTemplateRef; context: { $implicit: page!.data }">
            </ng-container>
        </mat-expansion-panel>
    </ng-container>


    <mat-paginator #paginator
        [length]         ="page!.total"
        [pageSize]       ="pageFetcherOpts.limit"
        [pageIndex]      ="pageFetcherOpts.offset / pageFetcherOpts.limit"
        [pageSizeOptions]="pageSizeOptions"
        (page)="
            fetchPage({
                offset: $event.pageIndex * $event.pageSize,
                limit:  $event.pageSize
            });
        "
        color="accent"
        [style.display]="shouldDisplayPaginationControls() ? 'block' : 'none'"
        showFirstLastButtons="showFirstLastButtons"
    ></mat-paginator>

    <ng-container *ngTemplateOutlet="pageBodyTemplateRef; context: { $implicit: page!.data }">
    </ng-container>

    <p *ngIf="page!.data.length === 0" class="text-muted">
        <strong>{{nothingWasFoundMessage}}</strong>
    </p>
    <small *ngIf="pageFetcherOpts.search" class="text-muted">
        Search results for "{{pageFetcherOpts.search}}"
    </small>

</ng-container>
<ng-template #elseDataNotLoaded>

    <mat-progress-spinner
        color="accent"
        mode="indeterminate"
        class="local-loading"
    ></mat-progress-spinner>

</ng-template>

</div>