@import 'mixins';

mat-icon {
    margin-right: 16px;
}
mat-expansion-panel-header {
    @include horizontal-padding(16px);
}
mat-panel-title {
    align-items: center;
}
mat-nav-list {
    font-weight: normal;
}