mat-icon {
    margin-right: 16px;
}
mat-expansion-panel-header {
    padding-left: 16px;
    padding-right: 16px;
}
mat-panel-title {
    align-items: center;
}
mat-nav-list {
    font-weight: normal;
}