<mat-nav-list>
    <a routerLink="/" mat-list-item tdLayoutToggle>
        <mat-icon>home</mat-icon>Home
    </a>

    <a routerLink="/news" mat-list-item tdLayoutToggle>
        <mat-icon>announcement</mat-icon>News
    </a>

    <a routerLink="/users" mat-list-item tdLayoutToggle>
        <mat-icon>supervised_user_circle</mat-icon>Users
    </a>

    <a routerLink="/media" mat-list-item tdLayoutToggle>
        <mat-icon>photo_gallery</mat-icon>Media
    </a>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>code</mat-icon> 
                Developer
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-nav-list>
            <a mat-list-item routerLink="/developer" tdLayoutToggle>
                <mat-icon>info</mat-icon>Introduction
            </a>
            <a mat-list-item href="/gql" target="_blank">
                <mat-icon>play_circle_outline</mat-icon>
                GraphQL playground
            </a>

            <a mat-list-item href="/gql/docs" target="_blank">
                <mat-icon>library_books</mat-icon>
                API documentation
            </a>
        </mat-nav-list>

    </mat-expansion-panel>
    
</mat-nav-list>