@import 'mixins';
@import 'breakpoints';

.local {
    &-dashboard-navs {
        display: none;
        @include for-small-screen-width {
            display: block;
        }
    }
}

// TODO: refactor?
mat-icon {
    margin-right: 16px;
}
mat-expansion-panel-header {
    @include horizontal-padding(16px);
}
mat-panel-title {
    align-items: center;
}
mat-nav-list {
    font-weight: normal;
}