@import 'variables';

.footer-root {
    background-color: map-get($theme, footer-bgnd);
    color: white;
    margin: 0;
    text-align: center;
    padding: 20px;
}

.external-site-logo {
    height: 1.5em;
    margin-bottom: 5px;
}