<ng-container *veeLet="client$ | async as client">

<nav layout="row" layout-margin>


    <app-dashboard-anchor flex routePath="/" class="dashboard-home-btn" exactMatch>
        <span class="dashboard-home-btn__text">TaC</span>
    </app-dashboard-anchor>

    <app-dashboard-anchor flex routePath="/media">Media</app-dashboard-anchor>
    <app-dashboard-anchor flex routePath="/developer">Documentation</app-dashboard-anchor>

    <ng-container *appIfClientRole="authRouteMap.getRoleLimitFor('sign-in'); else elseForNotGuest">

        <app-dashboard-anchor flex routePath="/sign-in">Sign in</app-dashboard-anchor>
        <app-dashboard-anchor *appIfClientRole="authRouteMap.getRoleLimitFor('sign-up')"
            flex
            routePath="/sign-up"
        > Sign up
        </app-dashboard-anchor>
        
    </ng-container>
    <ng-template #elseForNotGuest>
        <a mat-button flex (click)="trySignOut()">Sign out</a>
    </ng-template>

</nav>


</ng-container>