<ng-container *veeLet="client$ | async as client">


<nav class="local-root">
    <app-dashboard-anchor routePath="/" class="local-home-btn" exactMatch>
        <span class="local-home-btn__text">TaC</span>
    </app-dashboard-anchor>
    <div class="local-nav">

        <ng-container *ngIf="client == null; else elseAuthenticatedClient">
            <app-dashboard-anchor routePath="/sign-in">Sign in</app-dashboard-anchor>
            <app-dashboard-anchor routePath="/sign-up">Sign up</app-dashboard-anchor>
        </ng-container>
        <ng-template #elseAuthenticatedClient>
            <a mat-button (click)="trySignOut()">Sign out</a>
        </ng-template>
        
    </div>
    <app-dashboard-client-profile 
        *ngIf="client != null" 
        class="local-user-profile"
    ></app-dashboard-client-profile>

</nav>


</ng-container>