.local {
    &-root {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        width: 100%;
    }
    &-main-nav {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        justify-content: flex-start;
    }
    &-user-profile {
        flex-shrink: 1;
    }

    &-home-btn {
        margin: auto 30px;

        &__text {
            font-weight: 800;
            font-size: 1.1em;
        }
    }
}
